doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bower_components/components-font-awesome/css/fontawesome-all.min.css')
		block styles
	body
		include header.pug
		block content
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/popper.js/dist/umd/popper.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower_components/vue/dist/vue.min.js')
		script(src='https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js')
		script(src='https://unpkg.com/vue-chartkick@0.5.0')
		block scripts